<div class="container">
  <!-- <form [formGroup]="partForm">
    <div *ngFor="let part of partData; let i = index" class="part-container" class="part-{{part.partId}}"
      formGroupName="part-{{i}}">
      Part:
      <div class="section" *ngFor="let section of part.sections" class="section-{{section.id}}" #secBlock>
        Section:
        @if (
        "section.type === 'text'"
        ) {
        <label [for]="section.label">{{section.label}}</label>
        <input type="text" [formControlName]="section.name" [id]="section.label" />
        }
      </div>
    </div>
  </form> -->
  <app-json-form [partDatavalue]="partData" [partForm]="partForm"></app-json-form>

  <button (click)="submit()">SUBMIT</button>

</div>